.grid_3{display: grid;grid-template-columns: repeat(3, 1fr);gap: 20px;}
.grid_4{display: grid;grid-template-columns: repeat(4, 1fr);}
.bg_dark{background-color: #111827;}
.bg_gray{background-color: #f9fafb;}
.bg_pink{background-color: #fee2e2;}
.bg_red{background-color: #dc2626;}
.bg_white{background-color: #ffffff;}
.font_red{color:#dc2626;}
.font_white{color:#ffffff;}
.bd_white{border:1px solid #ffffff;}
.btn{font-size: 16px;padding: 16px 32px;border-radius:12px;}
.btn_wrap{display: flex;justify-content: center;gap: 20px;}
.sub_tit{font-size:32px;font-weight: 600;margin-bottom:10px;text-align:center;}
.sub_desc{font-size:20px;text-align:center;margin-bottom:48px;}

.btn_wrap .btn:hover{color:#dc2626;background-color: #ffffff;}
.card_wrap{margin: 0;padding: 0;}

.card_wrap.grid_4 .card{height: 215px;}
.card{display:flex;align-items: center;background-color:#f9fafb;border: none;gap: 10px;border-radius:12px;padding:32px;height: 270px;}
.card:hover{box-shadow: inset;}
.card.point{background-color:#fef2f2;}
.card_tit{font-size:20px;font-weight: 500;}
.card_desc{font-size:16px;text-align: center;}
.card_icon{border-radius: 50%;padding: 15px;aspect-ratio: 1 / 1;display: flex;align-items: center;justify-content: center;}

.main{background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url(../img/energy-saving.jpg) no-repeat;background-size: cover;height: 1000px;}
.main_wrap{margin-top: 390px;}
.main_tit{color:#fff;font-size:48px;font-weight:600;}
.main_desc{color:#fff;font-size:20px;font-weight:400;}
.main .btn_wrap{justify-content: flex-start;}

.navbar{height:56px;}
.navbar_nav{color:#111827;display: flex;gap: 50px;}